* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

footer {
  width: 100%;
  background: #333;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.link {
  color: white;
  text-decoration: none;
}

.sidebar-list li:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
}